*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

section.bill {
    /* margin: 0 20rem 1rem 20rem; */
    width: 47rem;
    margin: auto;
}
header.heading {
    padding: 1rem 0 2rem 0;
    font-size: 1.5rem;
    font-weight: bold;
    color: gray;
}
div.subheading > h4 {
    font-size: 1rem;
}
div.subheading > p {
    font-size: 0.9rem;
    font-weight: lighter;
    margin: 0.3rem 0 1.5rem 0;
}

div.billItem {
    display: flex;
    padding-bottom: 2.7rem;
}
div.billItem > img {
    height: 5rem;
    border: 0.03125rem solid rgb(188, 187, 187);
    border-radius: 0.3125rem;
    margin-right: 1rem;
}
div.billItemDetail {
    width: 12.5rem;
}
div.billItemName {
    font-size: 1.1rem;
    margin: 0.1rem 0;
}
div.billItemWeight {
    font-size: 0.9rem;
    margin: 0.6rem 0;
    color: gray;
}
div.billItemPrice {
    display: flex;
}
div.billItemPrice > p {
    padding-right: 0.4rem;
    font-weight: bold;
}
div.billItemPrice > s {
    font-size: 0.9rem;
    color: gray;
    align-items: center;
}
div.billItemBtn {
    display: flex;
    margin-left: auto;
    margin-right: 0;
    width: 5rem;
    align-items: center;
}
div.billItemBtn > button {
    border: none;
    color: white;
    background-color: green;
    width: 5rem;
    height: 2rem;
    font-size: 1.05rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
div.billItemBtn > button:nth-child(1) {
    border-radius: 0.4rem 0 0 0.4rem;
    cursor: pointer;
}
div.billItemBtn > button:nth-child(3) {
    border-radius: 0 0.4rem 0.4rem 0;
    cursor: pointer;
}

div.total > div {
    display: flex;
    justify-content: space-between;
    color: gray;
    padding: 0.25rem 0;
    font-size: 0.9rem;
}
div.productDiscount > p:last-child, div.charge > p {
    color: green;
}
div.charge {
    display: flex;
    justify-content: right;
}
div.charge > s {
    padding-right: 0.3rem;
}
div.grandTotal > p {
    font-weight: bold;
    font-size: 1.05rem;
    color: black;
    padding: 0.2rem 0;
}

section.billTotal {
    display: flexbox;
    width: 47rem;
    margin: auto;
}
div.coupon {
    padding: 0.4rem 0 0.4rem 0.9rem;
    font-size: 0.9rem;
    color: gray;
    background-color: rgb(249, 248, 248);
    border-radius: 0.4rem;
}

div.proceed {
    margin: 1rem 0;
    background-color: rgb(249, 248, 248);
    padding: 0.6rem 0.9rem;
    border-radius: 0.4rem;
}
div.proceedBar {
    display: flex;
    justify-content: space-between;
    background-color: green;
    border-radius: 5px;
    padding: 0.6rem 0.9rem;
    color: white;
}
div.proceedItems {
    display: flex;
}
div.proceedItems > p {
    margin: 0 0.2rem;
    font-weight: bold;
}
div.proceedBtn {
    font-weight: bold;
    cursor: pointer;
}

