@import '../../../../mixin';

div.time {
    display: flex;
    align-items: center;
    width: 7.5rem;
    height: 1rem;
    margin: 0.2rem 0.2rem 0.2rem auto;
    padding: 0.2rem;
    font-size: 0.8rem;
    color: green;
    background-color: rgb(214, 246, 231);
    border-radius: $borderValue*10;
    cursor: pointer;

    img {
        padding: 0 0.4rem;
        width: 0.7rem;
    }
}

div.name {
    font-size: 1rem;
    padding: 0.3rem 0.8rem;
}
div.weight {
    font-size: 0.9rem;
    padding: 0.75rem;
    color: gray;
}