@import '../../../../commonlyUsedStyles.scss';

header.navBar {
    @include initialStyle;
    height: fit-content;
    border-bottom: $borderSide;
    img#logo {
        width: 6.5rem;
        padding: 0 1.3rem;
    }
}