@import '../../../../mixin';

div.billingAmounts {
    @include initial;
    div {
        @include flexDisplay(space-between);
        height: 2rem;
        color: gray;
        font-size: 1rem;
    }
    div.productDiscount, div.deliveryAmount {
        p {
            color: green;
        }
    }
    div.deliveryAmount{
        @include flexDisplay(right);
        s {
            padding-right: 0.3rem;
        }
    }
    div.grandTotal {
        margin-top: 0.5rem;
        p {
            font-weight: bold;
            font-size: 1.05rem;
            color: black;
            padding: 0.2rem 0;
        }
    }
}
