@import '../../../mixin';

header.navBar {
    @include initial;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: fit-content;
    border-bottom: $borderSide;
    div {
        text-align: center;
        margin: 0 0.5rem;
    }
    img#logo {
        width: 6.5rem;
        border-right: $borderSide;
        padding: 0 1.3rem;
    }
    input#search {
        width: 45rem;
        font-size: 1.2rem;
        @include border(0.0625rem, gray);
        border-radius: 0.3125rem;
        padding: 0.3rem 0.6rem;
    }
    a#login {
        color: rgb(122, 121, 121);
        font-size: 1.2rem;
        text-decoration: none;
        margin: 0 1rem;
    }
    a#login:hover {
        color: rgb(63, 63, 63);
    }
}