@import '../../../commonlyUsedStyles.scss';

header.navBar {
    @include initialStyle;
    @include flexDisplay(space-between);
    height: fit-content;
    border-bottom: $borderSide;
    div {
        text-align: center;
        margin: 0 0.5rem;
    }
    a {
        margin: 0;
        padding: 0;
        text-decoration: none;
    }
    a.logoLink {
        height: 5.2rem;
        img#logo {
            width: 6.5rem;
            border-right: $borderSide;
            padding: 0 1.3rem;
        }
    }
    img#logo {
        width: 6.5rem;
        border-right: $borderSide;
        padding: 0 1.3rem;
    }
    a#loginLink {
        color: rgb(122, 121, 121);
        font-size: 1.2rem;
        text-decoration: none;
        margin: 0 1rem;
        cursor: pointer;

        &:hover {
            color: rgb(63, 63, 63);
        }
    }
    
}