@use "sass:math";
@import '../../../../mixin';

div.list {
    @include initial;
    display: flex;
    padding: 0 10rem;
    align-items: center;
    justify-content: space-around;
    @include border($borderValue*2);

    p, select {
        padding: 0.8rem 1rem;
        font-size: 0.9rem;
        color: gray;
        margin: 0;
    }
    select {
        height: 2.6rem;
        padding: 0.2rem;
        width: 4rem;
    }
    p:hover, select:hover {
        cursor: pointer;
        background-color: rgb(238, 238, 238);
    }
}