@import '../../../../mixin';

div.subCat {
    display: flex;
    border-bottom: $borderValue solid black;
    align-items: center;
    justify-content: left;
}

div.subCat:hover {
    background-color: rgb(214, 246, 231);
    cursor: pointer;
}

div.subCatImg {
    background-color: rgb(239, 244, 248);
    border-radius: 0.75rem;
    height: 4rem;
    overflow: hidden;
    margin: 0.8rem 1rem;
}

div.subCatImg>img {
    height: 5rem;
    overflow: hidden;
}

div.subCat>p {
    font-size: 0.9rem;
    margin-right: 1.5rem;
}