@import '../../../commonlyUsedStyles.scss';

section.service {
    @include initialStyle;
    @include flexDisplay(space-between);
    flex-wrap: wrap;
    margin: 2rem 10rem;
}
div.about {
    margin: 2rem 10rem;
    text-align: left;
    font-size: 0.9rem;
    color: gray;
    flex-wrap: wrap;
}
hr {
    margin: 0 10rem;
}