@import '../../../../commonlyUsedStyles.scss';

div.content{
    @include initialStyle;
    @include flexDisplay(center, normal);
    aside.cat {
        @include border();
        @include initialStyle;
        width: 16rem;
    }
    div.product {
        display: block;
        width: 60rem;
        float: left;
    }
}